<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F74CAD521BC05C3000A781A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74CAD6A1BC05C3000A781A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74CAD751BC05C3000A781A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
